<% let pagina = 'registrazione' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accedi/Registrati</title>
    <link rel="stylesheet" href="css/authStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>

  <body>
    <div class="intro">
      <h1>Tutor 2.0</h1>
      <p>
        L'app che ti aiuta a pianificare il tuo studio e tenere traccia dei tuoi
        progressi
      </p>
    </div>
    <div class="container">
      <!-- Login Form -->
      <div class="form-box login">
        <form action="#">
          <h1>Accedi</h1>
          <div class="input-box">
            <input type="email" placeholder="Email" required />
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Password" required />
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="forget-link">
            <a href="#">Hai dimenticato la password?</a>
          </div>
          <button type="submit" class="btn">Accedi</button>
        </form>
      </div>
      <!-- Register Form -->
      <div class="form-box register">
        <form action="#">
          <h1>Registrazione</h1>
          <div class="input-box">
            <input type="email" placeholder="Email" required />
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Password" required />
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Conferma Password" required />
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="check-box">
            <input type="checkbox" id="gdprConsent" />
            <p>
              Accetto la
              <a href="privacy.html" target="_blank"
                >informativa sulla privacy</a
              >
              e la
              <a href="cookie.html" target="_blank">cookie policy</a>.
            </p>
          </div>
          <button type="submit" class="btn">Registrati</button>
        </form>
      </div>

      <!-- Toggle Box -->
      <div class="toggle-box">
        <!-- Toggle Box Left -->
        <div class="toggle-panel toggle-left">
          <h1>Ciao, Benvenuto!</h1>
          <p>Non hai un account?</p>
          <button class="btn register-btn">Registrati</button>
        </div>

        <!-- Toggle Box Right -->
        <div class="toggle-panel toggle-right">
          <h1>Bentornato!</h1>
          <p>Hai già un account?</p>
          <button class="btn login-btn">Accedi</button>
        </div>
      </div>
    </div>
    <div class="outro">
      <p>Powered by <a href="https://www.toptutor.it/">toptutor.it</a></p>
    </div>
  </body>

  <script src="js/auth.js"></script>
</html>
